DATABASE_URL=postgresql://m:m@100.100.234.104:5432/llamunedb
MONKEY_URL=http://100.100.234.104:4000
SELF_URL=http://100.85.2.86:8000
INTERNAL_TOKEN=your_internal_token
JWT_SECRET=your_jwt_secret
JWT_EXPIRE_MINUTES=60
HEARTBEAT_INTERVAL=30
INSTANCE_ID_ARG=llamune-back-1
INSTANCE_TYPE=llamune
DISPLAY_NAME=llamune-1
